<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Witaj w sklepie</title>
  <link rel="stylesheet" type="text/css" href="style2.css"/>
  <script src="script2.js" defer></script>
</head>
<body>
<h1>Witaj nowy kliencie!</h1>
<h2> Co chcesz zrobić?</h2>
<h3 th:text="${message}"></h3>
<ul>
  <li><a href="/register">Zarejestruj się</a></li>
  <li><a href="/add-auction"> Dodaj nową aukcję</a></li>
  <li><a href="/remove-auction"> Usuń aukcję</a></li>
  <li><a href="/browse-auction">Przeglądaj swoje aukcje</a></li>
  <br>
  <li><a href="/console">Debug: Konsola bazy danych</a></li>
</ul>
</body>
</html>